@media screen and (min-width: 768px) {

  html {
    font-size: 70%;
  }

    /*__ HEADER__ */
      
    /*navigation*/

    .nav {
      background: var(--color-main-green);
      position: relative;
      z-index: 100;
    }

   .nav > div > div.nav__items > div.nav__item.nav--color-green,
   .nav__button {
     display: none;
    }
 
   .nav__items {
     width: 100%;
     padding: 0;
     align-items: inherit;
     justify-content: flex-start;
   }

    .nav__logo-wrapp {
     position: relative;
     width: 3rem;
   }
 
   .nav__logo {
     position: absolute;
     max-height: 7rem;
     z-index: 2;
   }


   /*menu*/

  .menu , 
   .menu-opened .menu__item .menu__link {
     display: block;
   }
 
   .menu {
     position: relative;
     padding: 0;
     top: 0;
     z-index: 1;
   }
   
   .menu,
   .menu__items,
   .menu__item {
     height: auto;
   }
 
   .menu__items {
     height: 100%;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding-left: 18rem;
   }
 
   .menu__item {
     display: block;
     flex-grow: 1;
     margin: 0;
     line-height: 4.8rem;
     text-align: center;
   }
   
   .menu__item::after {
    bottom: 1.5rem;
    display: block;
    content: "";
    height: 2rem;
    position: absolute;
    border-right: 0.1rem #f3f2ed solid;
   }

 
    div.nav__items > div:nth-child(2) > nav > ul > li:nth-child(1)::after {
     border-right: none;
    }


  .menu__item:hover {
    background-color: rgb(75, 75, 75);
  }


  .menu__item-link, 
  .nav__item {
    font-weight: bold;
    letter-spacing: 0.1rem;
  }



/*SECTION MAIN SLIDER*/
  
.slider {
  padding-top: 0.5rem;
}

.glide__item-h1 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}


/* SECTIONS */

/* SECTION SERVICES */
 
#section-services, 
#section-portfolio,
#section-about,
.section-awards,
.glide,
#section-contact {
  box-sizing: border-box;
}

.container {
  flex-direction: row;
}

.services__item-img .primary-button {
  bottom: -3rem;
}

/*SECTION GALLERY*/

.sections__h1--dark-green {
  width: auto;
}

.container--green {
  padding: 0;  
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery__item {
 margin: 0 0.5rem;
}

.gallery__item-h2 {
 display: block;
 width: 100%;
 margin: auto;
 padding: 0.8rem 0;
}

.section-gallery .section__h2--dark-green {
 text-align: end;
 padding: 0 1rem;
 margin: 0;
}


/*SECTION REVIEW ORGANIZED*/


.section-reviews {
 display: flex;
 justify-content: space-evenly;
}

.review__items {
 width: 240px;
 margin: 0;
}

.review__item-img--logo{
 width: 100%;
}

.section-reviews .glide__arrow--right {
 right: -1.5rem;
}

.section-reviews .glide__arrow--left {
 left: -1.5rem;
}


/* SECTION AWARDS */

.section-awards__item {
 width: 150px;
}



/* SECTION FOOTER-AREA */

.footer__items {
 display: flex;
 justify-content: space-evenly;
 padding: 0;
}

.footer__item--center {
 margin: 0;
}

}


@media screen and (min-width: 850px) {
  /*SECTION REVIEWS*/

  .review__items {
    width: 270px;
}
}