@media screen and (min-width: 768px) {

  html {
    font-size: 70%;
  }

   /*__ HEADER__ */
      
    /*navigation*/

    #section__navigation {
      background: var(--color-main-green);
    }

   #section__navigation > div > div.section__navigation-items > div.section__navigation-element.section__navigation--color-green,
   .menu__toggle {
     display: none;
   }
 
   .section__navigation-items {
     width: 100%;
     padding: 0;
     align-items: inherit;
     justify-content: flex-start;
   }

    .section__navigation-photo {
     position: relative;
   }
 
   .logo {
     position: absolute;
     z-index: 2;
   }
  
   /*menu*/

   #menu, 
   .menu-opened .menu__item .menu__link {
     display: block;
   }
 
   #menu {
     position: relative;
     padding: 0;
     top: 0;
     z-index: 1;
   }
   
   #menu,
   .menu_list,
   .menu__item {
     height: auto;
   }
 
   .menu__list {
     height: 100%;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding-left: 30rem;
   }
 
   .menu__item {
     display: block;
     flex-grow: 1;
     margin: 0;
     line-height: 4.5rem;
     text-align: center;
   }
  

  .menu__item:hover {
    background-color:#272727;
  }

  .menu__item:active {
    color:black;
  }

  .section__navigation-link, 
  .section__navigation-element {
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

 

   /*SECTION MAIN SLIDER*/
 
   .main-photo__title {
     font-size: 2rem;
     letter-spacing: 0.3rem;
 }
 
 
   /* SECTIONS */
 
   /* SECTION SERVICES */
 
   .services__photo__wrapp > button {
   bottom: -20%;
   }
 
   /*SECTION GALLERY*/
 
   .gallery__title {
     width: auto;
   }
   
   .gallery__wrapp {
     padding: 0;  
     flex-wrap: wrap;
     justify-content: space-around;
   }
 
   .gallery__txt-wrapp {
     display: block;
     margin: auto;
   }
   
   .container,
   .gallery__items,
   .section__reviews__container {
     flex-direction: row;
   }

  

  /* SECTIONS */

  /* SECTION SERVICES */

  .services__photo__wrapp > button {
  bottom: -20%;
  }

  /*SECTION GALLERY*/

  .gallery__title {
    width: auto;
  }
  
  .gallery__wrapp {
  padding: 0;  
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .gallery__txt-wrapp {
    display: block;
    margin: auto;
    padding-bottom: 1rem;
  }
  
  .container,
  .gallery__items,
  .section__reviews__container {
    flex-direction: row;
  }

  /*SECTION REVIEW ORGANIZED*/


  #section__review {
    display: flex;
    justify-content: space-evenly;
  }

  .review__item {
    width: 230px;
    margin: 0;
  }

  .review__item-photo {
    width: 100%;
}

  #section__review .glide__arrow--right {
    right: 0rem;
  }

  #section__review .glide__arrow--left {
    left: 0rem;
  }


  /* SECTION AWARDS */
  
  .section__awards__photo {
    width: 150px;
  }



/* SECTION FOOTER-AREA */

  .section__footer-area__container {
    display: flex;
  }

}
