@media screen and (min-width: 992px) {
    html {
        font-size: 90%;
    }

    /*SHARED COMPONENTS*/

    /*content on middle*/

    .section__container {
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 0;
    }

    .section__container--gray-line {
        border-left: lightgray 1px solid;
        border-right: lightgray 1px solid;
    }
    
   /* HEADER */

    .nav__logo {
        max-height: 7rem;
    }

    .container__item-bottom,
    .container__items {
        padding: 0;
    }

    .menu {
        margin: 0 auto;
        text-align: center;
       /* max-width: 800px;*/
    }

    .glide__item-img {
        width: 100%;
    }

    /* SECTIONS *

    /* SECTIONS SERVICES*/

    .services__item-img > button {
        bottom: -29%;
    }

    .section__services {
        padding-bottom: 7rem;
    }
    .container--green {
        justify-content: space-around;
    }

    .services__wrapp {
        padding: 0;
    }


    /* SECTION GALLERY */

    .section__gallery {
        margin-top: 0;
    }

    /*SECTION REVIEWS  ORGANIZED*/

    .review__items {
        width: 300px;
    }
}

@media screen and (min-width: 1440px) {

    /*HEADER*/

    .menu {
        text-align: right;
    }

    /* MAIN PHOTO */
    
    .glide__item-h1 {
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    /* SECTION REVIEWS */
    
    .review__items {
        width: 350px;
    }
    
    .section__reviews .glide__arrow--right {
        right: 2rem;
    }
    
    .section__reviews .glide__arrow--left {
        left: 2rem;
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 100%;
    }

    /* SECTION REVIEWS */

    

}
