@media screen and (min-width: 768px) {

  html {
    font-size: 70%;
  }

   /*__ HEADER__ */
      
    /*navigation*/

    .nav {
      background: var(--color-main-green);
      position: relative;
      z-index: 100;
    }

   .nav > div > div.nav__items > div.nav__item.section__navigation--color-green,
   .nav__button {
     display: none;
   }
 
   .nav__items {
     width: 100%;
     padding: 0;
     align-items: inherit;
     justify-content: flex-start;
   }

    .nav__logo-wrapp {
     position: relative;
   }
 
   .nav__logo {
     position: absolute;
     z-index: 2;
   }
  
   /*menu*/

  .menu , 
   .menu-opened .menu__item .menu__link {
     display: block;
   }
 
   .menu {
     position: relative;
     padding: 0;
     top: 0;
     z-index: 1;
   }
   
   .menu,
   .menu__items,
   .menu__item {
     height: auto;
   }
 
   .menu__items {
     height: 100%;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding-left: 30rem;
   }
 
   .menu__item {
     display: block;
     flex-grow: 1;
     margin: 0;
     line-height: 4.5rem;
     text-align: center;
   }


  .menu__item:hover {
    background-color:#272727;
  }

  .menu__item:active {
    color:black;
  }

  .menu__item-link, 
  .nav__item {
    font-weight: bold;
    letter-spacing: 0.1rem;
    border-left: 1px #f3f2ed solid;
    padding-left: 1rem;
  }



   /*SECTION MAIN SLIDER*/
 
   .glide__item-h1 {
     font-size: 2rem;
     letter-spacing: 0.3rem;
 }
 
 
   /* SECTIONS */
 
   /* SECTION SERVICES */
 
   .services__item-img > button {
   bottom: -20%;
   }
 
   /*SECTION GALLERY*/
 
   .sections__h1--dark-green {
     width: auto;
   }

   .container,
   .gallery__items,
   .section__reviews__container {
     flex-direction: row;
   }

  .container--green {
     padding: 0;  
     flex-wrap: wrap;
     justify-content: space-around;
  }

  .gallery__item {
    margin: 0 0.5rem;
  }

  .gallery__item-h2 {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0.8rem 0;
  }

  .section__gallery .section__h2--dark-green {
    text-align: end;
    padding: 0 1rem;
    margin: 0;
  }
  

  /*SECTION REVIEW ORGANIZED*/


  .section__reviews {
    display: flex;
    justify-content: space-evenly;
  }

  .review__items {
    width: 230px;
    margin: 0;
  }

  .review__item-img--logo{
    width: 100%;
}

  .section__reviews .glide__arrow--right {
    right: 0rem;
  }

  .section__reviews .glide__arrow--left {
    left: 0rem;
  }


  /* SECTION AWARDS */
  
  .section__awards-item {
    width: 150px;
  }



/* SECTION FOOTER-AREA */

  .footer__items {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .footer__item--center {
    margin: 0;
  }

}
