:root {
  --color-main-green: #528C36;
  --color-white:#F3F2ED;
  --color-dark-green: #304337;
  --color-light-green:#86bea9;
  --color-brown: #765E50;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* SHARED COMPONENTS */

/* layout */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

/*headings*/

.sections__h1 {
  font-size: 2.3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.7rem;
  letter-spacing: 0.32rem;
  padding: 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  /*box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);*/
}



/* buttons */

.primary-button {
  border-radius: 3rem;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}

/* shadows */

/*.section--shadow {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}*/

.item--shadow {
  box-shadow: -1px 19px 7px 0px #292626c9;
}

.heading--shadow {
  box-shadow: 0 5px 7px 0px #292626c9;
}

.section--light-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



       /*__ HEADER__ */
      
   /*navigation*/

/*layout*/
.nav {
  background: white;
  font-size: 1.6rem;
}


.nav__container,
.nav__items,
.menu__items {
  display: flex;
}

.nav__container {
  justify-content: space-between;
}

.nav__items,
.menu__items {
  flex-direction: column;
}

.nav__items {
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 1.5rem;
  width: auto;
}

/*colors*/

.nav--color-green {
  color: var(--color-main-green);
}

.nav__logo {
  max-height: 8rem;
  background: white;
}

.nav__button {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 3rem;
  line-height: 0;
  padding: 0;
  position: relative;
  z-index: 100;
}

.icon--padding {
  padding-right: 1rem;
}

.nav__item-link {
  color: black;
  margin-left: 0.5rem;
}

.nav__item-link, 
.menu__item-link {
  text-decoration: none;
}

/*menu*/

.menu {
  display: none;
  position: absolute;
  top: auto;
  margin: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-main-green);
  z-index: 20;
}

.menu__items {
  padding: 0;
  margin: 0;
}

.menu__item {
  display: block;
  margin: 1rem 0 1rem 0;
}

.menu__item-link {
  color: var(--color-white);
  font-size: 1.6rem;
}

.menu.menu-opened {
  display: block;
}


/*FOR SCREENS UNDER 420px*/

@media screen and (max-width: 420px) {
  
  .icon--padding {
    padding: 0;
  }
}

/*SECTION MAIN SLIDER*/

.slider {
  width: 100%;
}

.glide__item-h1 {
  position: absolute;
  color: white;
  background-color:#524a4a3b;
  border: 0.1rem solid white;
  text-shadow: 2px 2px 4px #000000;
  filter: drop-shadow(2px 4px 6px black);
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* GLIDE SLIDER CSS OVERRIDES */

.glide__slides {
  margin: 0;
}

.glide__slide {
  position: relative;
}
/*
.glide__item-img {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}*/



/* SECTION SERVICES */

.sections__h1--green {
  color: var(--color-white);
  background: var(--color-main-green);
  z-index: 1;
}
/*
.services__item-img--elipse,
.services__item-button {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}*/

.services__items {
  padding-top: 5rem;
}

.services__item-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle {
  color: var(--color-main-green);
}

.section__h2 {
  color: var(--color-dark-green);
  letter-spacing: 0.2rem;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 2.1rem;
  padding: 0 1rem;
}

.services__item-p {
  margin: 0;
  padding: 1.5rem;
  font-size: 1.6rem;
  text-align: justify;
}

.services__item-img {
  position: relative;
}

.services__item-img > button {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services__item-img--elipse {
  overflow: hidden;
  border-radius: 50%;
  border-right: solid 1.2rem var(--color-main-green);
  width: 80%;
}

.services__item-button {
  background: var(--color-main-green);
  color: var(--color-white);
}




/* SECTION GALLERY */

.section-gallery {
  position: relative;
}

#section-services.section__container {
  padding-bottom: 7rem;
}  

.sections__h1--dark-green {
  font-size: 2rem;
  width: 65%;
  color: var(--color-dark-green);
  background: var(--color-light-green);
}

.container--green {
  background: var(--color-dark-green);
}

.gallery__items {
  padding-top: 4rem;
}

.gallery__item {
  position: relative;
  margin: 0 2rem 2rem 1.4rem;
  border-left: solid 0.6rem var(--color-light-green);
  overflow: hidden;
}

.gallery__item:after,
.gallery__item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25rem;
  background-color: var(--color-light-green);
}

.gallery__item:after {
  left: -0.5rem;
  bottom: -1.25rem;
  transform: rotate(1.75deg);
}

.gallery__item:before {
  left: -0.4rem;
  top: -1.25rem;
  transform: rotate(-1.75deg);
}

.gallery__item-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section__h2--dark-green {
  color: var(--color-light-green);
  padding: 0 3rem;
  font-size: 1.8rem;
}


.fa-angle-double-right {
  margin: 0 0.4rem;
}



/*SECTION REVIEW ORGANIZED*/

.section-reviews {
  background: var(--color-brown);
  padding: 1.5rem 0 2.5rem 0;
}

/*shared style for items in section*/

.review__items {
  color: #000000;
  background-color: var(--color-white);
  width: 85%;
  margin: 0 auto;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.review__item {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2rem;
}

.review__item--brown {
  height: 4rem;
  width: 100%;
  border-top: #5d493e 0.5px solid;
  border-bottom: #5d493e 0.5px solid;
  background: var(--color-brown);
}

.review__item-h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 2.2rem;
  letter-spacing: 0.32rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-block-end: 0;
}


/*colors for each item*/
.review__item--color-beige {
  background: var(--color-white);
  color: var(--color-dark-green);
}

.review__item--color-green {
  background: var(--color-light-green);
  color: var(--color-white);
}


/*images inside item*/
.review__item-img--logo {
  width: 70%;
}


/*list & paragraph inside item*/

.review__item-p,
.item__list-link {
  line-height: 2.2rem;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 0.5rem;
}

.review__item-p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.item__list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  margin-block-start: 0.8rem;
  margin-block-end: 0.8rem;
}

.item__list-li {
  list-style-type: none;
  line-height: 2.1rem;
  display: flex;
  align-items: center;
}

.item__list-li::before {
  content: '-';
  font-weight: bold;
}

.item__list-link {
  text-decoration: none;
}


/*1.item with slider*/

.review__item-img {
  width: 20%;
  border-radius: 50%;
}

.review__item-h2--bold {
  font-weight: bold;
  font-size: 1.8rem;
}

.review__item-quote {
  quotes: "“" "”" "‘" "’";
  line-height: 2rem;
  font-size: 1.6rem;
}

.review__item-quote::before {
  content: open-quote;
}

.review__item-quote::after {
  content: close-quote;
}

.review__item-footer {
  font-style: italic;
  font-size: 1.4rem;
}

/*arrows in slider*/
.section-reviews .glide__arrow {
  font-size: 2rem;
  border-color: transparent;
  box-shadow: none;
  border-radius: 50%;
  line-height: 0;
  transition: all 200ms ease-in-out;
}

.section-reviews .glide__arrow--right {
  right: 0;
}

.section-reviews .glide__arrow--left {
  left: 0;
}

.fa-chevron-circle-left, 
.fa-chevron-circle-right {
  color: var(--color-dark-green);
}

/*
.review__items,
.review__item--brown {
  box-shadow: 0 5px 7px 0px #292626c9;
}*/


/* SECTION AWARDS*/

.section-awards {
  border-bottom:  lightgray 0.1rem solid;
}
.section-awards__item {
  width: 10rem;
}

.section-awards .glide {
  padding: 2rem 0 0.8rem;
}


/* FOOTER-AREA */

/*colors*/
.footer--color-dark {
  color: var(--color-dark-green);
}

.footer .item__list-li::before, 
.footer .item__list-link:hover {
  color: var(--color-main-green);
}

/*layout*/

.footer__items {
  padding: 0 3rem;
}

.footer__item--center {
  margin: 0 auto;
  text-align: left;
}

.footer__item {
  padding: 0.5rem;
}


.footer__items,
.footer__item-h2 {
  position: relative;
}


/*headings*/

.footer__item-h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  font-weight: bold;
}

.footer__item-h2::after {
  bottom: -0.4rem;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  font-weight: 900;
  border-bottom: 0.2rem solid var(--color-main-green);
}


/*items*/

#section-contact .item__list-li {
  font-size: 1rem;
}

#section-contact .item__list-li::before {
  content: '\f111';
  font-family: "Font Awesome 5 Free"; 
  font-weight: 750;
  font-size: 0.7rem;
  padding-right: 0.5rem;
}

/*bottom footer*/

.footer-copyright {
  background: var(--color-main-green);
  padding: 0.5rem;
  color: var(--color-white);
  letter-spacing: 0.15rem;
}

a[href *= "marinazzz"] {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}

