:root {
  --color-main-green: #528C36;
  --color-white:#F3F2ED;
  --color-dark-green: #304337;
  --color-light-green:#86bea9;
  --color-brown: #765E50;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* SHARED COMPONENTS */

/* layout */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

#main-photo,
#section__services,
#section__gallery,
#section__review,
#section__awards,
#section__footer-area {
  box-sizing: border-box;
}

/*titles*/

.sections__title {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.7rem;
  letter-spacing: 0.32rem;
  padding: 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  /*box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);*/
}

/* buttons */

.primary__button {
  border-radius: 3rem;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}

/* shadows */

.section--shadow {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.item--shadow {
  box-shadow: -1px 19px 7px 0px #292626c9;
}

.title--shadow {
  box-shadow: 0 5px 7px 0px #292626c9;
}

       /*__ HEADER__ */
      
   /*navigation*/

/*layout*/
#section__navigation {
  background: white;
  font-size: 1.2rem;
}

.section__navigation-container,
.section__navigation-items,
.menu__list {
  display: flex;
}

.section__navigation-container {
  justify-content: space-between;
}

.section__navigation-items,
.menu__list {
  flex-direction: column;
}

.section__navigation-items {
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 1.5rem;
  width: auto;
}

 /*colors*/
.section__navigation--color-green {
  color: var(--color-main-green);
}

.logo {
  max-height: 8rem;
  background: white;
}

.menu__toggle {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 3rem;
  line-height: 0;
  padding: 0;
  position: relative;
  z-index: 100;
}

.icon--padding {
  padding-right: 1rem;
}

.section__navigation-txt {
  color: black;
  margin-left: 0.5rem;
}

.section__navigation-link,
.section__navigation-txt {
  text-decoration: none;
}

/*menu*/

#menu {
  display: none;
  position: absolute;
  top: auto;
  margin: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-main-green);
  z-index: 20;
}

.menu__list {
  padding: 0;
  margin: 0;
}

.menu__item {
  display: block;
  margin: 1rem 0 1rem 0;
}

.section__navigation-link {
  color: var(--color-white);
  font-size: 1.4rem;
}

#menu.menu-opened {
  display: block;
}


/*FOR SCREENS UNDER 420px*/

@media screen and (max-width: 420px) {
  
  .icon--padding {
    padding: 0;
  }
}

/*SECTION MAIN SLIDER*/

#main-photo {
  width: 100%;
  padding-top: 0.5rem;
}

.main-photo__title {
  position: absolute;
  color: white;
  background-color:#524a4a3b;
  border: 0.1rem solid white;
  filter: drop-shadow(2px 4px 6px black);
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* GLIDE SLIDER CSS OVERRIDES */

.glide__slides {
  margin: 0;
}

.glide__slide {
  position: relative;
}
/*
.main-photo__item {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}*/



/* SECTION SERVICES */

.services__title {
  color: var(--color-white);
  background: var(--color-main-green);
  z-index: 1;
}
/*
.services__photo,
.services__button {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}*/

.services__item {
  padding-top: 5rem;
}

.item-title__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle {
  color: var(--color-main-green);
}

.services__item-title {
  color: var(--color-dark-green);
  letter-spacing: 0.2rem;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 2rem;
  padding: 0 1rem;
}

.services__txt {
  margin: 0;
  padding: 1.5rem;
}

.services__photo__wrapp {
  position: relative;
}

.services__photo__wrapp > button {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services__photo {
  overflow: hidden;
  border-radius: 50%;
  border-right: solid 1.2rem var(--color-main-green);
  width: 80%;
}

.services__button {
  background: var(--color-main-green);
  color: var(--color-white);
}




/* SECTION GALLERY */

#section__gallery {
  margin-top: 8rem;
  position: relative;
}

.gallery__title {
  width: 65%;
  color: var(--color-dark-green);
  background: var(--color-light-green);
}

.gallery__wrapp {
  background: var(--color-dark-green);
}

.gallery__item {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__item-wrapp {
  position: relative;
  margin: 0 2rem 2rem 1.4rem;
  border-left: solid 0.6rem var(--color-light-green);
  overflow: hidden;
}

.gallery__item-wrapp:after,
.gallery__item-wrapp:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25rem;
  background-color: var(--color-light-green);
}

.gallery__item-wrapp:after {
  left: -0.5rem;
  bottom: -1.25rem;
  transform: rotate(1.75deg);
}

.gallery__item-wrapp:before {
  left: -0.4rem;
  top: -1.25rem;
  transform: rotate(-1.75deg);
}

.gallery__item-title,
.gallery__txt {
  color: var(--color-light-green);
  padding: 0 3rem;
}


.gallery__items {
  padding-top: 4rem;
}

.fa-angle-double-right {
  margin: 0 0.4rem;
}



/*SECTION REVIEW ORGANIZED*/

#section__review {
  background: var(--color-brown);
  padding: 1.5rem 0 2.5rem 0;
}

/*shared style for items in section*/
/*
.review__item,
.review__item-top {
  box-shadow: 0 5px 7px 0px #292626c9;
}*/

.review__item {
  color: #000000;
  background-color: var(--color-white);
  width: 85%;
  margin: 0 auto;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.review__item-top {
  height: 4rem;
  width: 100%;
  border-top: #5d493e 0.5px solid;
  border-bottom: #5d493e 0.5px solid;
  background: var(--color-brown);
}

.review__item-wrapp {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2rem;
}

.section__review__title {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  letter-spacing: 0.32rem;
  font-weight: bold;
  text-transform: uppercase;
}


/*colors for each item*/
.review__item--color-beige {
  background: var(--color-white);
  color: var(--color-dark-green);
}

.review__item--color-green {
  background: var(--color-light-green);
  color: var(--color-white);
}


/*images inside item*/
.review__item-photo {
  width: 40%;
}


/*list & paragraph inside item*/

.review__item-txt,
.review__link {
  line-height: 1.8rem;
  font-size: 1.3rem;
  text-align: left;
  padding-left: 0.5rem;
}

.review__item-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.review__item-li {
  list-style-type: none;
  line-height: 2.1rem;
  display: flex;
  align-items: center;
}

.review__item-li::before {
  content: '-';
  font-weight: bold;
}

.review__link {
  text-decoration: none;
}


/*1.item with slider*/

.review__photo {
  width: 20%;
  border-radius: 50%;
}

.review__slide-title {
  font-weight: bold;
}

.review__txt {
  quotes: "“" "”" "‘" "’";
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.review__txt::before {
  content: open-quote;
}

.review__txt::after {
  content: close-quote;
}

.review__author{
  font-style: italic;
}

/*arrows in slider*/
#section__review .glide__arrow  {
  font-size: 2rem;
  border-color: transparent;
  box-shadow: none;
  border-radius: 50%;
  line-height: 0;
  transition: all 200ms ease-in-out;
}

.fa-chevron-circle-left, 
.fa-chevron-circle-right {
  color: var(--color-dark-green);
}




/* SECTION AWARDS*/

.section__awards__photo {
  width: 100px;
}

#section__awards .glide {
  padding: 2rem 0;
}


/* SECTION FOOTER-AREA */

/*colors*/
.footer--color-dark {
  color: var(--color-dark-green);
}

/*layout*/

.section__footer-area__container {
  padding: 0 3rem;
}

.section__items--centered {
  margin: 0 auto;
  text-align: left;
}

.section__footer-area__item {
  padding: 0.5rem;
  margin-bottom: 2rem;
}


.section__footer-area__container,
.section__footer-area__title {
  position: relative;
}

.section__footer-area__item::after,
.section__footer-area__title::before {
  position: absolute;
}

.section__footer-area__item::after {
  bottom: 255px;
  margin: 0 auto;
  left: 60px;
  content: "";
  width: 90%;
  border: 1px solid darkgray;
}


/*title*/

.section__footer-area__title {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.section__footer-area__title::before {
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  border: 1px solid var(--color-main-green);
}

/*items*/

#section__footer-area .review__item-li {
  font-size: 1rem;
}

#section__footer-area .review__item-li::before {
  content: '\f111';
  font-family: "Font Awesome 5 Free"; 
  font-weight: 750;
  font-size: 0.7rem;
  padding-right: 0.5rem;
}

#section__footer-area .review__item-li::before, 
#section__footer-area .review__link:hover {
  color: var(--color-main-green);
}

/*FOOTER*/

.footer__main {
  background: var(--color-main-green);
  padding: 0.5rem;
  color: var(--color-white);
  letter-spacing: 0.15rem;
}

a[href *= "marinazzz"] {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  font-size: 1.3rem;
}

