@media screen and (min-width: 768px) {

  html {
    font-size: 70%;
  }

  /* TOP HEADER */

  .top-header, .menu__list {
    justify-content: flex-end;
  }

  .top-header {
    padding: 0;
  }

  .top-header__item {
    padding: 1rem 7rem 1rem 0;
  }

  .bottom-header-logo {
    z-index: 100;
  }

  .bottom-header_toggle {
    display: none;
  }

  /* NAVIGATION */

  .menu-opened .menu__item .menu__link {
    display: block;
  }

  #menu {
    display: flex;
    top: 0;
  }
  
  .menu__list {
    width: 100%;
    flex-direction: row;
    padding-right: 7rem;
  }

  .menu__item {
    margin: 0;
    padding: 1rem 0 1rem 0;
  }

  .menu__item:hover {
    background-color:#272727;
  }

  .menu__link {
    padding-left: 2rem;
  }

  .menu__link:active {
    color:black;
  }

}
