@media screen and (min-width: 768px) {

  html {
    font-size: 70%;
  }

  /* BOTTOM HEADER */

  .bottom-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    z-index: 100;
  }

  .bottom-header__toggle {
    display: none;
  }

  /* NAVIGATION */

  .menu-opened .menu__item .menu__link {
    display: block;
  }

  #menu {
    display: block;
    position: static;
    padding: 0;
    top: 0;
    flex: 0 1 45rem;
  }
  
  .menu__list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .menu__item {
    margin: 0;
  }

  .menu__item:hover {
    background-color:#272727;
  }

  .menu__link:active {
    color:black;
  }

}
