@media screen and (min-width: 768px) {
  nav {
    display: flex;
    height: auto;
  }
  .menu-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .menu-element {
    display: block;
    list-style-type: none;
    padding: 10px 0 10px 0;
  }
  .menu-element:hover {
    background-color:#272727;
  }
  .menu-element a {
    color: white;
    padding: 10px;
    text-decoration: solid;
    text-transform: uppercase;
    display: block;
  }
  .menu-element a:active {
    color:black;
  }
  .menu-icon {
    display: none;
  } 
}
