html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

       /*__ HEADER__ */

/*color styles*/
.header--white-green {
  --header-bg-color: #528C36;
  --header-link-color: black;
  --header-menu-link: #fff;
  --header-toggle-color: #528C36;
}

/*main style*/
.container__menu--small {
  display: flex;
  justify-content: space-around;
}

.logo {
  max-height: 8rem;
  background: white;
  filter: drop-shadow(2px 4px 10px black);
}

.container__items--small {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: flex-end;
  width: 250px;
}

.container__item {
  align-self: center;
}

.container__item, .container__item-bottom {
  text-align: end;
}

.container__item-txt {
  color: var(--header-link-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.container__item > a:first-of-type {
  padding-right: 1.6rem;
}

.container__item-bottom > nav {
  text-align: center;
}

.menu__toggle {
  color: var(--header-bg-color);
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 3rem;
  line-height: 0;
  padding: 0.5rem;
  color: var(--header-toggle-color);
  position: relative;
  z-index: 100;
}

.fa-phone, .fa-envelope {
  margin-right: 1rem;
}


/* MENU */

#menu {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  background-color: var(--header-bg-color);
  z-index: 20;
}

.menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu__item {
  display: block;
  margin-bottom: 1rem;
}

.menu__link {
  color: var(--header-menu-link);
  text-decoration: none;
  font-size: 1.6rem;
}

.menu-opened {
  display: none;
}


/*FOR SMALL DEVICES*/

@media screen and (max-width: 420px) {
  
  .logo {
    max-height: 7rem;
  }
  
  .container__items--small {
    width: auto;
    align-self: center;
  }

  .container__item > a:first-of-type {
    padding-right: 1.3rem;
  }
  
  .container__item {
    text-align: center;
  }

  .fa-phone, .fa-envelope {
    margin-right: 0.3rem;
  }
}

/* MAIN PICTURE */

#main-photo {
  position: relative;
}

.main-photo__item {
   width: 100%;
}

/* GLIDE SLIDER CSS OVERRIDES */
#main-photo .glide__arrow  {
  font-size: 4rem;
  padding: 0;
  border-color: transparent;
  box-shadow: none;
  border-radius: 50%;
  line-height: 0;
  transition: all 200ms ease-in-out;
}

#main-photo .glide__arrow:hover {
  border-color: #252525;
  color: #252525;
}

.main-photo__title {
  position: relative;
  color: white;
  background-color:#524a4a3b;
  filter: drop-shadow(2px 4px 6px black);
  padding: 4rem;
  margin: auto;
  bottom: 22rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  animation-duration: 10s;
  animation-iteration-count: initial;
}

/*#main-photo {
  position: relative;
}

.main-photo__item {
   width: 100%;
}

.main-photo__title {
  position: absolute;
  bottom: 1rem;
  left: 20rem;
  font-size: 2rem;
}*/



/*1. COLOR OPTION*/
/* CSS variables*/
/* :root {
  --header-bg-color: #4daa57;
  --header-top-bg-color: #252525;
  --header-toggle-color: #fff;
}*/

/*.top-header__item {
  color: var(--header-link-color);
  text-decoration: none;
  font-size: 1.4rem;
}*/


/*------MAIN----------*/