@media screen and (min-width: 992px) {
    html {
        font-size: 80%;
    }

    .logo {
        max-height: 9rem;
    }
    
    .container__item {
        padding-left: 10rem;
    }

    .container__item-bottom {
        padding: 0 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .container__item {
        padding-left: 24rem;
    }
}

@media screen and (min-width: 2560px) {
    
    .logo {
        max-height: 12rem;
    }

    .container__item {
        padding-left: 29rem;
    }

    .container__item-bottom {
        padding: 0 40rem;
    }
}