@media screen and (min-width: 992px) {
    html {
        font-size: 90%;
    }
    
   /* HEADER */

    .logo {
        max-height: 9rem;
    }

    .container__items {
        width: auto;
    }

    .container__item {
        padding-left: 22rem;;
    }

    .container__item-bottom,
    .container__items {
        padding: 0;
    }

    #menu {
        padding-left: 10rem;
    }

    /* SECTIONS */

    .section__container {
        max-width: 2000px;
        margin: 0 auto;
    }

    /* SECTIONS SERVICES*/

    .services__photo__wrapp > button {
        bottom: -15%;
    }

    /*SECTION GALLERY*/

    .gallery__wrapp {
        justify-content: space-around;
    }

    .services__wrapp {
        padding: 0;
    }

    .reviews__bg {
        flex-direction: row;
      }
    
    
      #section__about, #section__experience {
        padding: 0;
      }
    
      #section__reviews, #section__about, #section__experience {
        margin-bottom: 2rem;
      }
    
      .reviews__bg {
          justify-content: space-evenly;
      }
    
      div [class="review__items"]{
          margin: 0;
          width: auto;
      }
    
      .glide {
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }
    
      #section__reviews .glide__arrow--right {
          right: 0;
        }
      
         #section__reviews .glide__arrow--left {
          left: 0;
        }
        
        .review__wrapp,
        .glide__wrapp {
          width: 300px;
      }
    
      .reviews__title {
        font-size: 2rem;
      }

    
}

@media screen and (min-width: 1440px) {
    
    /* HEADER */
    .container__menu {
        max-width: 1500px;
        margin: 0 auto;
    }
    
    .container__item {
        padding-left: 47rem;;
    }
    
    #menu {
        padding-left: 30rem;
    }
    
    
    /* MAIN PHOTO */
    
    .main-photo__title {
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    /* SECTION REVIEWS */
    
    #section__about, #section__experience {
      padding: 0;
    }
    
    #section__reviews, #section__about, #section__experience {
      margin-bottom: 2rem;
    }
    
    .review__wrapp,
    .glide__wrapp {
        width: 450px;
    }
    
    .reviews__bg {
        justify-content: space-evenly;
    }
    
    div [class="review__items"]{
        margin: 0;
        width: auto;
    }
    
    .glide {
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    
    #section__reviews .glide__arrow--right {
        right: 2rem;
      }
    
       #section__reviews .glide__arrow--left {
        left: 2rem;
      }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 100%;
    }

    .logo {
        max-height: 12rem;
    }

    .container__item {
        justify-self: center;
    }

    .container__item > a:first-of-type {
        padding: 0 13rem;
    }

    .container__item-bottom {
        padding: 0 40rem;
    }

    /*content on middle*/

    .container__menu {
        max-width: 2000px;
    }

    .container__item-bottom,
    .container__items {
        padding: 0;
    }

    #menu,
    .container__item {
        padding-left: 50rem;
    }

}
