@media screen and (min-width: 768px) {

  html {
    font-size: 70%;
  }

   /* HEADER */


   .logo {
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: 50;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.62), 0 0 30rem 0 rgba(0, 0, 0, 0.19);
   }

   .container__menu, 
   .container__items,
   .container__menu--small {
    display: flex;
    background: var(--color-main-green);
   }
  
   .container__menu {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.62), 0 0 30rem 0 rgba(0, 0, 0, 0.19);
  }
  
  .container__items {
    width: auto;
    justify-content: flex-end;
  }
  
  .container__item,
  .container__item-bottom {
    display: flex;
    width: 80%;
  }

  .container__item {
    display: none;
  }

  .container__items--small {
    width: 100%;
  }


  .container__item > a:first-of-type {
    padding-left: 10rem;
  }
  
  .container__item-bottom {
    align-items: center;
  }
  
  .menu__toggle {
    display: none;
  }

  .fa-phone, 
  .fa-envelope {
  color: black;
  }

  /* NAVIGATION */

  #menu, 
  .menu-opened .menu__item .menu__link {
    display: block;
  }

  #menu {
    position: static;
    padding: 0;
    top: 0;
  }
  
  #menu,
  .menu_list {
    height: auto;
  }

  .menu__list {
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
  }

  .menu__item {
    height: 100%;
    display: block;
    flex-grow: 1;
    margin: 0;
    line-height: 4.5rem;
  }

  .menu__item:hover {
    background-color:#272727;
  }

  .menu__link:active {
    color:black;
  }

  .menu__link, 
  .container__item-txt {
    font-weight: bold;
  }

  
  /* MAIN PHOTO */

  .main-photo__title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
}


  /* SECTIONS */

  /* SECTION SERVICES */

  .services__photo__wrapp > button {
  bottom: -20%;
  }

  /*SECTION GALLERY*/

  .gallery__title {
    width: auto;
  }
  
  .gallery__wrapp {
  padding: 0;  
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .gallery__txt-wrapp {
    display: block;
    margin: auto;
  }
  
  .container,
  .gallery__items,
  .section__reviews__container {
    flex-direction: row;
  }

   /*SECTION REVIEWS*/

  .section__reviews__container,
  .review__wrapp {
    position: relative;
  }
  
  .section__reviews__container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 23rem;
  }
    
  .review__wrapp {
    display: block;
  }

  #section__about,
  #section__experience {
    padding: 0;
  }

  #section__reviews,
  #section__about,
  #section__experience {
    margin-bottom: 0;
  }

  .review__wrapp,
  .glide__wrapp,
  .glide__slide--active,
  .section__member .review__items,
  .section__member,
  body > main > div > div > section.section__member > div:nth-child(1) {
    width: 230px;
  }

  .glide--swipeable {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  div [class="review__items"]{
    margin: 0;
    width: auto;
  }
  
  #section__reviews .glide__track {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  #section__reviews .review__items {
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
  }

  #section__reviews .glide__arrow--right {
    right: -0.5rem;
  }
  
  #section__reviews .glide__arrow--left {
    left: -0.5rem;
  }

  #section__reviews blockquote {
    margin: 0;
    padding: 1rem;
  }
    

  #section__reviews .section__review__title,
  #section__reviews .section__review__top {
    width: 100%;
  }

  #section__about .review__items,
  #section__experience .review__items  {
    margin: 0;
  }

  /*section member*/

  .section__member {
    position: relative;
    margin-top: 4rem;
  }

  .section__member > div:nth-child(1),
  .section__member > div:nth-child(2) {
    position: absolute;
  }


  .section__member > div:nth-child(1) {
    left: -12rem;
    top: 3rem;
    transform: translate(-50%, -50%);
  }

  .section__member > div:nth-child(2) {
    left: 22rem;
    bottom: -21rem;
  }

  .section__member .section__review__top,
  .section__member__photo {
    width: 100%;
  }

  /*.member__photo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }*/

  .member__items {
    padding-top: 5rem;
  }

  /* SECTION AWARDS */

  .section__awards__photo {
    width: 150px;
  }

}
