@media screen and (min-width: 768px) {

  html {
    font-size: 70%;
  }

   /* HEADER */

   .container__menu, 
   .container__items {
    display: grid;
   }
  
   .container__menu {
    grid-template-columns: 2fr 80%;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.62), 0 0 30rem 0 rgba(0, 0, 0, 0.19);
  }
  
  .container__items {
    grid-template-rows: 1fr 1fr;
    background: var(--color-main-green);
    width: auto;
  }
  
  .container__item,
  .container__item-bottom {
    display: flex;
  }

  .container__item {
    align-self: center;
    justify-content: space-around;
    /*padding-left: 23rem;*/
  }

  .container__item > a:first-of-type {
    padding-left: 10rem;
  }
  
  .container__item-bottom {
    align-items: center;
  }
  
  .menu__toggle {
    display: none;
  }

  .fa-phone, 
  .fa-envelope {
  color: black;
  }

  /* NAVIGATION */

  #menu, 
  .menu-opened .menu__item .menu__link {
    display: block;
  }

  #menu {
    position: static;
    padding: 0;
    top: 0;
  }
  
  #menu,
  .menu_list {
    height: 100%;
  }

  .menu__list {
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
  }

  .menu__item {
    height: 100%;
    display: block;
    flex-grow: 1;
    margin: 0;
    line-height: 4.5rem;
  }

  .menu__item:hover {
    background-color:#272727;
  }

  .menu__link:active {
    color:black;
  }

  .menu__link, 
  .container__item-txt {
    font-weight: bold;
  }

  
  /* MAIN PHOTO */

  .main-photo__title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
}


  /* SECTIONS */

  /* SECTION SERVICES */

  .services__photo__wrapp > button {
  bottom: -20%;
  }

  /*SECTION GALLERY*/

  .gallery__title {
    width: auto;
  }
  
  .gallery__wrapp {
  padding: 0;  
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .gallery__txt-wrapp {
    display: block;
    margin: auto;
  }
  
  .container,
  .gallery__items {
    flex-direction: row;
  }

   /*SECTION REVIEWS*/
   
   #section__reviews .glide__arrow--right {
    right: 10rem;
  }

   #section__reviews .glide__arrow--left {
    left: 10rem;
  }

   .review__wrapp {
    display: block;
    position: relative;
  }
 
  #section__reviews,
  .glide__track,
  .glide__slides {
    width: auto;
  }

  .glide__slide {
    width: 100%;
  }

  #section__reviews > .glide--swipeable {
    width: 400px;
  }

  .reviews__bg {
    flex-direction: row;
  }

}
