:root {
  --color-main-green: #528C36;
  --color-white:#F3F2ED;
  --color-dark-green: #304337;
  --color-light-green:#86bea9;
  --color-brown: #765E50;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* SHARED COMPONENTS */

/* layout */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

/*titles*/

.sections__title {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.7rem;
  letter-spacing: 0.32rem;
  padding: 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

/* buttons */

.primary__button {
  border-radius: 3rem;
  box-sizing: border-box;
  border: none;
  font-size: 1.4rem;
  padding: 1.2rem 3rem;
}

       /*__ HEADER__ */

.container__menu--small {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.24), 0 0 30rem 0 rgba(0, 0, 0, 0.2);
  background: white;
}

.logo {
  max-height: 8rem;
  background: white;
}

.container__items--small {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: flex-end;
  width: 250px;
}

.container__item {
  align-self: center;
}

.container__item, 
.container__item-bottom {
  text-align: end;
}

.container__item-txt {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.container__item > a:first-of-type {
  padding-right: 1.6rem;
}

.container__item-bottom > nav {
  text-align: center;
}

.menu__toggle {
  color: var(--color-main-green);
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 3rem;
  line-height: 0;
  padding: 0.5rem;
  position: relative;
  z-index: 100;
}

.fa-phone, 
.fa-envelope {
  margin-right: 1rem;
  color: var(--color-main-green);
}


/* MENU */

#menu {
  display: none;
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  background-color: var(--color-main-green);
  z-index: 20;
}

.menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu__item {
  display: block;
  margin-bottom: 1rem;
}

.menu__link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.4rem;
}

#menu.menu-opened {
  display: block;
}


/*FOR SMALL DEVICES*/

@media screen and (max-width: 420px) {
  
  .logo {
    max-height: 7rem;
  }
  
  .container__items--small {
    width: auto;
    align-self: center;
  }

  .container__item > a:first-of-type {
    padding-right: 1.3rem;
  }
  
  .container__item {
    text-align: center;
  }

  .fa-phone, .fa-envelope {
    margin-right: 0.3rem;
  }
}

/* MAIN PICTURE */

#main-photo {
  width: 100%;
  padding-top: 1rem;
}

.main-photo__title {
  position: absolute;
  color: white;
  background-color:#524a4a3b;
  border: 0.1rem solid white;
  filter: drop-shadow(2px 4px 6px black);
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* GLIDE SLIDER CSS OVERRIDES */

.glide__slides {
  margin: 0;
}

.glide__slide {
  position: relative;
}

/* SECTION SERVICES */

.services__title {
  color: var(--color-white);
  background: var(--color-main-green);
  z-index: 1;
}

.services__photo,
.services__button {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.services__item {
  padding-top: 5rem;
}

.item-title__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle {
  color: var(--color-main-green);
}

.services__item-title {
  color: var(--color-dark-green);
  letter-spacing: 0.2rem;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 2rem;
  padding: 0 1rem;
}

.services__txt {
  margin: 0;
  padding: 1.5rem;
}

.services__photo__wrapp {
  position: relative;
}

.services__photo__wrapp > button {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services__photo {
  overflow: hidden;
  border-radius: 50%;
  border-right: solid 1.2rem var(--color-main-green);
  width: 80%;
}

.services__button {
  background: var(--color-main-green);
  color: var(--color-white);
}


/* SECTION GALLERY */

#section__gallery {
  margin-top: 8rem;
  position: relative;
}

.gallery__title {
  width: 65%;
  color: var(--color-dark-green);
  background: var(--color-light-green);
}

.gallery__wrapp {
  background: var(--color-dark-green);
}

.gallery__item {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__item-wrapp {
  position: relative;
  margin: 0 2rem 2rem 1.4rem;
  border-left: solid 0.6rem var(--color-light-green);
  overflow: hidden;
}

.gallery__item-wrapp:after,
.gallery__item-wrapp:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25rem;
  background-color: var(--color-light-green);
}

.gallery__item-wrapp:after {
  left: -0.5rem;
  bottom: -1.25rem;
  transform: rotate(1.75deg);
}

.gallery__item-wrapp:before {
  left: -0.4rem;
  top: -1.25rem;
  transform: rotate(-1.75deg);
}

.gallery__item-title,
.gallery__txt {
  color: var(--color-light-green);
  padding: 0 3rem;
}


.gallery__items {
  padding-top: 4rem;
}

.fa-angle-double-right {
  margin: 0 0.4rem;
}

/*SECTION REVIEWS*/

.reviews__bg {
  background: var(--color-brown);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

#section__reviews, 
#section__about,
#section__experience {
  margin-bottom: 5rem;
}


div [class="review__items"] {
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  width: 85%;
  margin: 0 auto;
}

.review__items,
.review__items > img {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.review__items > img {
  width: 20%;
  border-radius: 50%;
}

.review__items, 
.reviews__title {
  background: var(--color-white);
}

.reviews__title {
  z-index: 1;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.7rem;
  letter-spacing: 0.32rem;
  padding: 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

p.review__txt {
  quotes: "“" "”" "‘" "’";
}

.review__txt::before{
  content: open-quote;
}

.review__txt::after{
  content: close-quote;
}

blockquote > footer{
  font-style: italic;
}

#section__reviews .glide__arrow  {
  font-size: 2rem;
  border-color: transparent;
  box-shadow: none;
  border-radius: 50%;
  line-height: 0;
  transition: all 200ms ease-in-out;
}

.reviews__title,
.fa-chevron-circle-left, 
.fa-chevron-circle-right {
  color: var(--color-dark-green);
}

#section__about > .reviews__title {
  background: var(--color-light-green);
  color: var(--color-dark-green);
}

#section__about .review__items,
#section__about .about__list {
  color: var(--color-white);
  background: var(--color-light-green);
}

/* SECTION ABOUT */

.about__txt,
.about__list,
.experience__txt {
  line-height: 1.6rem;
  font-size: 1.3rem
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.about__list__item,
.experience__list__item {
  list-style-type: none;
  padding: 0.5rem;
}

.about__list__item::before,
.experience__list__item::before {
  content: '-';
}

.item__link,
.experience__link {
  color: var(--color-white); 
  text-decoration: none;
}

#section__about,
#section__experience {
  padding: 0 1rem;
}

/* SECTION EXPERIENCE */

#section__experience,
.experience__list__item,
.experience__link,
#section__experience > div > h2 > i {
 color: var(--color-dark-green);
}

.experience__list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.experience__txt {
  margin-bottom: 0;
}

.experience__list__item::before {
  content: '>';
}

/*section member*/

.section__member {
  background: var(--color-brown);
}

.section__member__wrapp {
  padding: 3rem 1rem 1rem 1rem;
  text-align: left;
  position: relative;
  background: var(--color-light-green);
  color: var(--color-white);
  box-sizing: border-box;
}


.section__member__wrapp,
.member__photo__el {
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  width: 85%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.member__photo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member__photo__el {
  width: 100%;
}

.member__items {
  padding-top: 5rem;
}

/* SECTION AWARDS*/

#section__awards {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.section__awards__photo {
  width: 100px;
}

#section__awards .glide {
  padding: 1.5rem 0;
}

/*FOOTER*/

.footer__main {
  background: #333333;
  padding: 0.5rem;
  margin-top: 20rem; /*temporary*/
  color: var(--color-white);
}

a[href *= "marinazzz"] {
  color: white;
  text-decoration: none;
}