@media screen and (min-width: 992px) {
    html {
        font-size: 80%;
    }
    
   /* HEADER */

    .logo {
        max-height: 9rem;
    }

    .container__items {
        width: auto;
    }

    .container__item {
        padding-left: 22rem;;
    }

    .container__item-bottom,
    .container__items {
        padding: 0;
    }

    #menu {
        padding-left: 10rem;
    }
}

@media screen and (min-width: 1440px) {

    /* HEADER */
    .container__menu {
        max-width: 1500px;
        margin: 0 auto;
    }

    .container__item {
        padding-left: 47rem;;
    }
    
    #menu {
        padding-left: 30rem;
    }


    /* MAIN PHOTO */

    .main-photo__title {
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }
}

@media screen and (min-width: 2560px) {
    
    .logo {
        max-height: 12rem;
    }

    .container__item {
        justify-self: center;
    }

    .container__item > a:first-of-type {
        padding: 0 13rem;
    }

    .container__item-bottom {
        padding: 0 40rem;
    }

    /*content on middle*/

    .container__menu {
        max-width: 2000px;
    }

    .container__item-bottom,
    .container__items {
        padding: 0;
    }

    #menu,
    .container__item {
        padding-left: 50rem;
    }

    /* SECTIONS */

    .section__container {
        max-width: 2000px;
        margin: 0 auto;
    }
}
